.container__about {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  gap: 2rem;
}

.main__title {
  font-size: 1.1rem;
  color: rgba(94, 127, 66, 1);
}

h3 {
  font-size: 0.9rem;
  color: rgba(71, 69, 69, 1);
}

p {
  font-size: 0.8rem;
  color: rgba(71, 69, 69, 1);
}

@media screen and (min-width: 700px) {
  .container__about {
    padding: 4rem 2rem;
    gap: 3rem;
  }

  .main__title {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }
}
