* {
  box-sizing: border-box;
}
.container-error {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Inter', sans-serif;
  color: rgba(94, 127, 66, 1);

  .error-text {
    grid-row: 2/4;
    grid-column: 2/4;

    div {
      display: flex;
      font-size: 4rem;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .error-logo {
    grid-row: 5/7;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .elf {
        height: 100px;
        width: 100px;
      }
      .stone {
        height: 60px;
        width: 60px;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .container-error {
    .error-logo {
      div {
        .elf {
          height: 100px;
          width: 100px;
        }
        .stone {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}
.container-error .page {
  font-size: 1.2rem;
}
