.container__footer {
  background-color: rgba(205, 242, 173, 1);
  padding: 1rem;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
}

.footer-logo-title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container__footer .footer-title2 {
  color: rgba(94, 127, 66, 1);
  font-size: 40px;
}
.container__footer .title-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(94, 127, 66, 1);
  margin-left: 10px;
}
.qlq {
  color: rgba(94, 127, 66, 1);
  font-size: 15px;
}
.container__footer .small-menu {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(94, 127, 66, 1);
  margin-left: 0;
}
.container__footer .list-logo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  gap: 0.2rem;
}

@media screen and (max-width: 700px) {
  .footer-title {
    display: none;
  }
  .footer-logo-title {
    display: none;
  }

  .footer-title2 {
    display: none;
  }

  .title-small {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
}
